@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark: rgb(3 7 18);
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-weight: 900;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: var(--color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent background for the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: white; /* White color for the scrollbar thumb (pill) */
    border-radius: 10px; /* Border radius to make the thumb pill-shaped */
}

/* For Firefox */
/* This is needed to style scrollbar in Firefox */
/* Firefox doesn't support styling of scrollbars directly, but it supports scrollbar-color */
/* So, you'll see scrollbar as per the system's scrollbar design, but with custom thumb color */
/* You may not get the exact same result as WebKit browsers */
/* But, this is the closest Firefox can get to customize scrollbar */
html {
    scrollbar-color: white transparent; /* Color of the scrollbar thumb (pill) and track */
    scrollbar-width: thin; /* Width of the scrollbar */
}