.screen { 
	display: grid;
	grid-template-rows: 8dvh 92dvh;
}

.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	padding: 0 2rem;
	height: 100%;
	border-bottom: 1px solid white;
}

.main-nav ul {
	display: flex;
	gap: 0.5rem;
	list-style-type: none;
}

.grid-area {
	display: grid;
	grid-template-columns: 75% 25%;
	gap: 2rem;
	padding: 0 2rem;
	height: 100%;
}

.componentArea {
	max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.playlist {
	color: white;
	border: 1px solid white;
	width: 100%;
}

.playlist-header {
	display: flex;
	gap: 0.5rem;
}

.track {
	display: flex;
	justify-content: space-between;
}

.track-info {
	display: flex;
	gap: 0.5rem;
}

.console { 
	height: 100%;
	border-left: 1px white solid;
}

.search-consolde {
	width: 100%;
}

.search-console input {
	width: 100%;
}