button {
	padding: 0.25rem 0.5rem;
/*	border: 1px solid white;*/
	height: fit-content;
	width: fit-content;
}

/*button:hover {
	background: white;
	color: #0f0e0e;
}*/

input {
	height: fit-content;
	width: fit-content;
}

.grid-area {
	display: grid;
	grid-template-columns: 1fr 5fr 2fr;
	height: 100dvh;
	width: 100dvw;
	gap: 1rem;
	padding: 1rem;
}

.componentArea {
    width: 100%;
    margin: 0 auto;
}

.playlist-header {
	display: flex;
	gap: 0.5rem;
}

.console { 
	height: 100%;
	border-left: 1px white solid;
}